* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.2rem;
}
p {
    font-size: 1.5rem;
}


.App {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    .buttons {
        position: absolute;
        left: 50px;
        bottom: 50%;
        transform: translate(50%, 50%);
        display: flex;
        flex-direction: column;
        .button {
            padding: 10px;
            margin: 5px;
        }
        .display {
            background-color: skyblue;
        }
        .pdf {
            background-color: rgb(220, 64, 64);
        }
    }
}

.page {
    overflow:auto;
    background-color: #fff;
    height: fit-content;
    width: 42.5%;
    padding: 20px;
}

.input {
    background-color: inherit;
}
.titlesAndInformation {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    .leftSide {
        display: flex;
        flex-direction: column;
        align-items: start;
        .name {
            height: fit-content;
            font-size: 2.5rem;
            width: fit-content;
        }
        .input{
            height: fit-content;
            font-size: 2.5rem;
            width: 24rem;
        }
        .currentRoleInput {
            width: 24rem;
            height: fit-content;
            font-size: 1rem;
        }
    }
    
    .rightSide {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: end;
        
    }
}
.experienceAndEducation {
    .workExperience {
        margin-top: 5px;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: column;
        text-align: center;
        .btn {
            padding: 0px 5px;
            width: fit-content;  
            align-self: center;
            margin-top: 5px;
        }
        .WorkForm {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            .submit {
                background-color: rgb(91, 212, 97);
            }
            .cancel {
                background-color: rgb(209, 89, 89);
            }
        }
        .WorkExperienceEntryParent{
            margin-top: 5px;
            display: flex;
            justify-content: center;
            position: relative;


            .WorkExperienceEntry {
                width: 100%;
                border-left: 3px solid black;
                padding-left: 5px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .jobDescription {
                   overflow-wrap: break-word;
                   overflow: auto;
                    
                }
               
            }
            .deleteWorkExpEntry {
                top: 50%;
                right: 20px;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position:absolute;
                transform: translate(-50%, -50%);
            }
            
            .deleteWorkExpEntry:before, .deleteWorkExpEntry:after {
                content: "";
                position: absolute;
                width: 9%;
                height: 90%;
                background-color: black;
            }
            .deleteWorkExpEntry:before {
                transform: rotate(45deg);
            }
            .deleteWorkExpEntry:after{
                transform: rotate(-45deg);
            }
        }
        }


        .education {
            margin-top: 5px;
            padding-bottom: 5px;
            border-bottom: 2px solid black;
            display: flex;
            flex-direction: column;
            text-align: center;
            .btn {
                padding: 0px 5px;
                width: fit-content;  
                align-self: center;
                margin-top: 5px;
            }
            .educationForm {
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                .submit {
                    background-color: rgb(91, 212, 97);
                }
                .cancel {
                    background-color: rgb(209, 89, 89);
                }
            }
            .EducationEntryParent {
                margin-top: 5px;
                display: flex;
                justify-content: center;
                position: relative;  
                .EducationEntry {
                    width: 100%;
                    border-left: 3px solid black;
                    padding-left: 5px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .Description {
                       overflow-wrap: break-word;
                       overflow: auto;
                        
                    }
                    
                   
                }
                
            }
            .deleteEducationEntry {
                top: 50%;
                right: 20px;
                height: 2rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position:absolute;
                transform: translate(-50%, -50%);
            }
            
            .deleteEducationEntry:before, .deleteEducationEntry:after {
                content: "";
                position: absolute;
                width: 9%;
                height: 90%;
                background-color: black;
            }
            .deleteEducationEntry:before {
                transform: rotate(45deg);
            }
            .deleteEducationEntry:after{
                transform: rotate(-45deg);
            }
        }
        
}